<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=PasswordVault; Integrated Security=SSPI; Encrypt=True; ApplicationIntent=ReadWrite; TrustServerCertificate=False"/>
	</connectionStrings>
</configuration>