<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionDb" connectionString="Host=10.8.0.1;database=pwd_vault;username=netsho;ssl mode=verifyfull;" providerName="Npgsql"/>
	</connectionStrings>
	<appSettings>
		<add key="VaultServerUri" value="https://10.8.0.1:8200"/>
		<add key="RoleID" value="7d16ab56-82c1-9b00-4e96-79370a595e86"/>
		<add key="SecretPath" value="secret/data/pwdvault/"/>
	</appSettings>
</configuration>